aside.filters > #filters
    margin-right: 15px


.md-list
    > .md-list-item
        padding: 0 5px
        min-height: 30px
        line-height: 30px
        &:hover
            background-color: #eaeaea

        &:first-child
            background-color: #f3f3f3
            border-bottom: 1px solid #e8e8e8