form#formSearch(class='pure-form search-form' method='post' action='#')
    input#search(placeholder='3 characters minimum.')
    button#buttonSearch(class='pure-button pure-button-primary' disabled type="submit") Buscar